body{
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(31, 29, 29);
}
header{
    width:100%;
  
}
header h1{
    margin-left:5%;
    margin-top:2%;
    font-size:200%;
}
header p{
    font-weight: bold;
    font-size:100%;
    position:absolute;
    top:1%;
    margin-left:16%;
    
}
header a{
    color:white;
    text-decoration:none;
}
header nav{
    position:absolute;
    right:1%;
    top:-0%;
    font-variant:small-caps;

}
nav table td{
    width:50%;
    padding:20px; /* non riesco a mettere la %*/
}
nav table td.attuale a { 
    color:rgb(219, 87, 131);  
    }
    nav td a:hover{
    color:rgb(219, 87, 131); 
    }
div#primo{
    margin-left:5%;
    margin-top:10%;
    margin-bottom:18%;
}
div#primo h1{
    font-size:130%
}
p{
    font-size:100%;
}
img#logo{
    width:20%;
    position:absolute;
    top:34%;
    left:68%;
}
table#tuttiIprod{
    margin-top:5%;
}
table#tuttiIprod a{
    font-size: 100%;
    text-decoration: none;
    font-variant: small-caps;
    padding:9px;
    border:2px;
    border-style:solid;
    border-color:rgb(219, 87, 131);
    color:rgb(219, 87, 131);
    border-radius:5px;
}
#tuttiIprod a:hover{
    background-color:rgb(219, 87, 131) ;
    color:white;
}
div#secondo{
    background-color: white;
    color:rgb(31, 29, 29);
    text-align:center;
    padding-top:6%;
}
div#secondo h1{
    font-size: 130%;
}
figure#vinili{
    
    margin-left:1%;
    margin-right:1%;
    padding-bottom:15%;
    text-decoration: none;
}
figure#vinili img{
    display:inline-block;
    width:100%;
}
figure#vinili a{
    text-decoration: none;
    color:rgb(31, 29, 29)
}
figure#vinili p{
    font-size:80%;
    text-align:center;
}
div#terzo{
    margin:7%;
    text-align:center;

}
div#terzo h1{
    font-size: 120%;
}
div#terzo ul li{
    padding:1%;
    font-size: 110%;
    font-style: italic;
}
div#terzo p{
    font-size:100%;
}
p#negozio{
    margin-top:5%;
}
#negozio a{
    text-decoration: none;
    font-variant: small-caps;
    padding:2%;
    border:2px;
    border-style:solid;
    border-color:rgb(219, 87, 131);
    color:rgb(219, 87, 131) ;
    border-radius:5px;
}
#negozio a:hover{
    background-color: rgb(219, 87, 131);
    color:white;
}
