body{
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(31, 29, 29);
}
header{
    width:80%;
  
}
header h1{
    margin-left:8%;
    margin-top:2%;
    font-size:300%;
}
header p{
    font-weight: bold;
    font-size:150%;
    position:absolute;
    top:3%;
    margin-left:14%;
    
}
header a{
    color:white;
    text-decoration:none;
}
header nav{
    position:absolute;
    right:14%;
    top:5%;
    font-variant:small-caps;

}
nav table td{
    width:50%;
    padding:20px;
}
nav table td.attuale a { 
    color:rgb(219, 87, 131);  
    }
    nav td a:hover{
    color:rgb(219, 87, 131); 
    }
div#primo{
    margin-left:8%;
    margin-top:8%;
    margin-bottom:15%;
}
p{
    font-size:130%;
}
img#logo{
    width:15%;
    position:absolute;
    top:27%;
    left:72%;

}
#tuttiIprod{
    margin-top:5%;
}
#tuttiIprod a{
    font-size: 100%;
    text-decoration: none;
    font-variant: small-caps;
    padding:0.5%;
    border:2px;
    border-style:solid;
    border-color:rgb(219, 87, 131);
    color:rgb(219, 87, 131);
    border-radius:5px;
}
#tuttiIprod a:hover{
    background-color:rgb(219, 87, 131) ;
    color:white;
}
div#secondo{
    background-color: white;
    color:rgb(31, 29, 29);
    text-align:center;
    padding-top:6%;
}
figure#vinili{
    margin-left:10%;
    margin-right:10%;
    padding-bottom:13%;
    text-decoration: none;
}
figure#vinili img{
    width:90%;
}
figure#vinili a{
    text-decoration: none;
    color:rgb(31, 29, 29)
}
figure#vinili p{
    font-size:100%;
    text-align:center;
}
strong{
    color:rgb(219, 87, 131) 
}
div#terzo{
    margin:7%;
    text-align:center;

}
div#terzo ul li{
    padding:1%;
    font-size: 150%;
    font-style: italic;
}
div#terzo p{
    font-size:120%;
}

p#negozio{
    margin-top:5%;
}
#negozio a{
    font-size:110%;
    text-decoration: none;
    font-variant: small-caps;
    padding:0.5%;
    border:2px;
    border-style:solid;
    border-color:rgb(219, 87, 131);
    color:rgb(219, 87, 131) ;
    border-radius:5px;
}
#negozio a:hover{
    background-color: rgb(219, 87, 131);
    color:white;
}
div#generi{
    background-color: white;
    color:rgb(31, 29, 29);
}
div#generi table {
    margin-left:9%;


}
div#generi table th{
    padding-top:10%;
    padding-bottom:10%;
}
div#generi table td{
    padding:4%;
}

.diRecente{
    margin-left:33%;
    
}
h1.diRecente{
    padding-top:6%;
}
figure.diRecente{
    margin-left:25%;
    margin-top:1%;
    padding-bottom:8%;
}
figure.diRecente img{
    width:100%;
}
.diRecente table td{
    width:20%
}
.diRecente p{
    font-size: 100%;
    color:rgb(31, 29, 29)
}

table#tabGeneri{
    
    border-style: solid;
    border-color: rgb(219, 87, 131);
    font-size:120%;
    color:rgb(31,29,29);
    position:absolute;
    top:28%;
    padding:2%;
}
div#carrello{
    background-color: white;
    color:rgb(31, 29, 29);
    padding-bottom:10%;
}
#carrello h1{
    padding-top:4%;
    padding-left:4%;
}
p#nota{
    font-size: 110%;
    position:absolute;
    top:30%;
    left:4.5%
}
figure.vinilicarrello{
    padding-top:5%;
    padding-left:2%;
}
figure.vinilicarrello img{
    width:25%;
}
#modulo table#uno{
    position:absolute;
    top:35%;
    left:32%;
}
#modulo table td{
    padding-top:3%;
}
.acquista{
    background-color:rgb(219, 87, 131) ;
    color:white;
    font-size: 130%;
    font-variant: small-caps;
    padding:1%;
    border-radius:5px;
}
button.acquista:hover{
    background-color: rgb(31, 29, 29);
}
.tabellaAcquisti h1{
    font-size:190%;
    font-weight:lighter;
}
#modulo table#due{
   position:absolute;
   top:80%;
   left:32%;
   margin-right:25%
}
#tabellaTotali{
    position:absolute;
    top:40%;
    left:70%;
    margin-right:4%;
    border-style:solid;
    border-color: rgb(219, 87, 131);
    padding:1%;
    margin-top:3%;
    
}

#tabellaTotali th{
    font-size:160%;
    padding-bottom:6%
    
}
#confermaOrdine{
    background-color:rgb(31, 29, 29);
    color:white;
    font-size:120%;
    font-variant: small-caps;
    padding:3%;
    border-radius:5px;
}
#confermaOrdine:hover{
    background-color: rgb(219, 87, 131);
}
.tdTotale{
    padding-bottom:8%
}
#sconto{
    position:absolute;
    top:28%;
    right:4%;
    text-align:center;
}
#scontoHTML{
    background-color: crimson;
    color: white;
    font-size: 100%;
    font-variant: small-caps;
    padding:1%;
    border-radius: 5px;
}


